head
	title Aniamtion Streaming Project
	meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
	script(src='js/lib/jquery-1.12.4.min.js')
	script(src='js/lib/jquery.actual.min.js')
	script(src='https://www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1')
	script(src='js/common.js')
	link(href="bootstrap/css/bootstrap.min.css" rel="stylesheet")
	link(href="bootstrap/css/bootstrap-theme.css" rel="stylesheet")
	script(src="bootstrap/js/bootstrap.min.js")
	style
		include ../css/common.css
