doctype html
html
	include includes/header.pug
	body
		include includes/commonArea.pug
				
		div#content
			include includes/location.pug

			div#aniPlayer
				video(controls autoplay name='media' controlsList='nodownload' width='100%' height='100%')
					-var aniPath = domain + encodeURI(path) + '/' + encodeURI(aniName);
					-var smiPath = '/media/lsh/MGTEC/download/'+encodeURI(path)+'/'+aniName.replace('.mp4', '.smi');
					-var srtPath = '/media/lsh/MGTEC/download/'+encodeURI(path)+'/'+aniName.replace('.mp4', '.srt');

					source(src=aniPath type='video/mp4')
					-if(smiExist)
						track(src='/smi?smiPath='+smiPath kind='subtitles' srclang='ko' label='smi(korea)' default)
					-if(srtExist)
						-if(smiExist)
							track(src='/srt?srtPath='+srtPath kind='subtitles' srclang='ko' label='vrt(korea)')
						-else
							track(src='/srt?srtPath='+srtPath kind='subtitles' srclang='ko' label='vrt(korea)' default)

			-if(path.indexOf('torDown')==-1){
				div.uploadForm
					form(action='/smiUpload?aniPath='+encodeURI(path)+'&aniName='+encodeURI(aniName) method='post' enctype='multipart/form-data')
						input(type='file' name='smiFile' id='smiFile')
						input(type='submit' id='smiSubmit' value='upload')
			-}

		include includes/footer.pug
