doctype html
html
	include includes/header.pug
	body
		include includes/commonArea.pug

		div#content
			center
				table#aniEpList
					tr.epHeader
						th TITLE
						th sub
						-if(moveYn == 'Y')
							th 
								button#moveBtn(onclick='javascript:fnSelectMove("'+encodeURI(path)+'/'+'");') m
					-for(var idx in aniList)
						-var utfPath = encodeURIComponent(path);
						-var utfName = encodeURIComponent(aniList[idx].name);
						tr
							td
								a(href='/moveToPath?path='+utfPath+'/'+utfName)= aniList[idx].name
							td.subtitleYn= aniList[idx].fileType=='D' ? 'D' : (aniList[idx].subYn?'Y':'N')

							-if(moveYn == 'Y')
								td.move
									input.moveInput(type='checkbox')
			include includes/footer.pug
