doctype html
html
	include includes/header.pug
	body
		include includes/commonArea.pug
				
		div#content
			table#aniEpList
				tr.epHeader
					th TITLE
					th subtitle
				-for(var idx in aniList)
					-var aniPath = encodeURI(path);
					-var aniName = encodeURI(aniList[idx]);
					-var url;
					-if(fileType[idx]=='D'){
						tr.dir
							td
								a(href='/aniTitleInfo?path='+aniPath+'/'+aniName)= aniList[idx]
							td.subtitleYn DIR
					-}else{
						tr
							td
								a(href='/aniPlayer?aniPath='+aniPath+'&aniName='+aniName)= aniList[idx]
							td.subtitleYn= subList[idx]?'Y':'N'
					-}

		include includes/footer.pug

