doctype html
html
	include includes/header.pug
	body
		include includes/commonArea.pug
				
		div#content
			table#aniEpList
				tr
					th episode
					th subtitles
				-for(var idx in aniList)
					-var aniPath = encodeURI(path);
					-var aniName = encodeURI(aniList[idx]);
					-var url;
					tr
						td
							-if(fileType[idx]=='F')
								a(href='/aniPlayer?aniPath='+aniPath+'&aniName='+aniName)= aniList[idx]
							-else
								a(href='/aniTitleInfo?path='+aniPath+'/'+aniName)= aniList[idx]
						td.subtitleYn= fileType[idx]=='F'?(subList[idx]?'Y':'N'):'DIR'

		include includes/footer.pug

