doctype html
html
	body
		img(id='ship' width='0' heigth='0' src='ship.png' alt='spaceship')
		canvas(id='canvas')
		script(src='js/lib/jquery-1.12.4.min.js')
		script(src='js/dotji/bullet.js')
		script(src='js/dotji/character.js')
		script(src='js/dotji/main.js')
