doctype html
html
	include includes/header.pug
	body
		include includes/commonArea.pug
				
		div#content
			table#aniEpList
				tr.epHeader
					th TITLE
					th subtitle					
				-for(var idx in aniList)
					-var utfPath = encodeURIComponent(aniList[idx].path);
					-var utfName = encodeURIComponent(aniList[idx].name);
					tr
						td
							a(href='/moveToPath?path='+utfPath+'/'+utfName)= aniList[idx].name
						td.subtitleYn= aniList[idx].fileType=='D' ? 'DIR' : (aniList[idx].subYn?'Y':'N')

		include includes/footer.pug
