html {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body {
	width : 100%;
	height : 100%;
	margin : 0;
	padding : 0;
	border : 0;
}

div#commonArea {
	margin : 0px;
	padding : 0px;
	border : 0px;
	width : 100%;
	height : 45px;
	background : #404040;
	position : fixed;
	top : 0;
	left : 0;
	z-index : 10;
}

div#commonArea a {
	cursor: pointer;
	text-decoration: none;
	color: #fff;
}

div#commonArea ul {
	margin : 0 auto;
	color : #fff;
	width : 1320px;
	position: relative;
}

div#commonArea .searchLi{
	overflow : hidden;
	float : right;
	padding : 10px;
}

div#commonArea #searchBtn{
	overflow : hidden;
	float : right;
	border: none;
	height: 25px;
	margin-left: 10px;
}

div#commonArea .titleList{
	display : none;
	position : absolute;
	background : #fff;
	border : 1px solid #222;
	margin-top : 8px;
	margin-left : -10px;
}

div#commonArea .titleList a{
	color : #222;
}

div#commonArea .titleList .title{
	float : left;
	margin-left : 5px;
	z-index : 200;
}

div#commonArea .qutNm {
	overflow : hidden;
	float : left;
	padding : 10px;
}

div#content {
	width : 1320px;
	padding-top : 45px;
	margin : 0 auto;
	clear:both;
}

div#content #location ul li{
	float : left;
	list-style : none;
	padding-left : 15px;
	margin-left : 15px;
	background : url("location.gif") 0 50% no-repeat;
}

div#content #location ul li:first-child{
	margin-left : 0px;
	padding-left : 0px;
	background : none;
}


div#content #aniPlayer {
	clear : both;
	position : relative;
	width : 1280px;
	height : 720px;
	margin-top: 50px;
	border: 7px ridge #736666;
}

div#content video {
	position : absolute;
}

div#content .uploadForm{
	margin-top : 20px;
}

div#content #aniEpList{
	clear : both;
	margin : 15px auto;
	border-collapse: collapse;
	width : auto;
	float : left;
}

div#content #aniEpList tr:hover:not(.epHeader) {
	background : whitesmoke;
}

div#content #aniEpList tr.epHeader{
	font-size : 1.5em;
	text-align : left;
}

div#content #aniEpList th, td{
        border-bottom : 1px solid #ececec;
}

div#content #aniEpList th{
        padding : 10px 15px 10px 15px;
}

div#content #aniEpList td{
        padding : 5px 15px 5px 15px;
}

div#content #aniEpList td a{
        text-decoration: none;
        color : #888;
}

div#content #aniEpList td a:visited{
	color : #bbb;
}

div#content #aniEpList td a:hover{
        text-decoration: underline;
        color : #000;
}

div#content #aniEpList .subtitleYn{
	text-align : center;
}

div#content #aniEpList .move{
        text-align : center;
}

.footer{
	clear : both;
	height : 50px;
}
