html {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body {
	width : 100%;
	height : 100%;
	margin : 0;
	padding : 0;
	border : 0;
}

div#content {
	padding-top : 30px;
}

div#content #location #naviArea{
	max-width : 1280px;
}

div#content #location ul li{
	float : left;
	list-style : none;
	padding-left : 15px;
	margin-left : 15px;
	background : url("location.gif") 0 50% no-repeat;
}

div#content #location ul li:first-child{
	margin-left : -20px;
	padding-left : 0px;
	background : none;
}


div#content .uploadForm .uploadArea{
	max-width : 1280px;
}

div#content .uploadForm input{
	float : left;
}

div#content .ccArea{
	text-align : left;
	max-width : 1280px;
}

div#content .ccArea #chromeCastSubYn{
	margin-left : 10px;
}

div#content .ccArea input{
	float : left;
}

div#content #aniEpList{
	clear : both;
	margin : 15px auto;
	max-width : 1280px;
	border-collapse: collapse;
}

div#content #aniEpList tr:hover:not(.epHeader) {
	background : whitesmoke;
}

div#content #aniEpList tr.epHeader{
	font-size : 1.5em;
	text-align : left;
}

div#content #aniEpList tr.epHeader th:first-child{
	width : 100%;
}

div#content #aniEpList th, td{
        border-bottom : 1px solid #ececec;
}

div#content #aniEpList th{
        padding : 10px 15px 10px 15px;
}

div#content #aniEpList td{
        padding : 5px 15px 5px 15px;
}

div#content #aniEpList td a{
        text-decoration: none;
        color : #888;
}

div#content #aniEpList td a:visited{
	color : #bbb;
}

div#content #aniEpList td a:hover{
        text-decoration: underline;
        color : #000;
}

div#content #aniEpList .subtitleYn{
	text-align : center;
}

div#content #aniEpList .move{
        text-align : center;
}

div#content #aniPlayer {
	margin-top: 40px;
	max-width : 1280px;
}

div#content video {
	padding : 10px;
}

.footer{
	clear : both;
	height : 50px;
}
