html {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body {
	width : 100%;
	height : 100%;
	margin : 0;
	padding : 0;
	border : 0;
}

div#commonArea {
	margin : 0px;
	padding : 0px;
	border : 0px;
	width : 100%;
	height : 45px;
	background : #404040;
	position : fixed;
	top : 0;
	left : 0;
	z-index : 10;
}

div#commonArea a {
	cursor: pointer;
	text-decoration: none;
	color: #fff;
}

div#commonArea .qutNmUl {
	margin : 0 auto;
	color : #fff;
	width : 1320px;
	position: relative;
}

div#commonArea .titleList{
	display : none;
	position : absolute;
	background : #fff;
	border : 1px solid #222;
	margin-top : 8px;
	margin-left : -10px;
}

div#commonArea .titleList a{
	color : #222;
}

div#commonArea .titleList .title{
	float : left;
	margin-left : 5px;
	z-index : 200;
}

div#commonArea .qutNm {
	overflow : hidden;
	float : left;
	padding : 10px;
}

div#content {
	width : 1320px;
	padding-top : 45px;
	margin : 0 auto;
	clear:both;
}

div#content #aniPlayer {
	position : relative;
	width : 1280px;
	height : 720px;
	margin-top: 15px;
	border: 7px ridge #736666;
}

div#content video {
	position : absolute;
}

div#content .uploadForm{
	margin-top : 20px;
}

div#content #aniEpList{
	margin-top : 15px;
	border : 3px solid #222;
}

div#content #aniEpList tr{
	background : whitesmoke;
}

div#content #aniEpList tr.dir{
	background : chartreuse;
}

div#content #aniEpList tr.epHeader{
	background : coral;
}

div#content #aniEpList th, td{
        border : 1px solid #222;
	padding-left : 15px;
	padding-right: 15px;
}

div#content #aniEpList .subtitleYn{
	text-align : center;
}
